.menu
    nav.menu-list
        .menu-list_item
            +icon('nArrow','menu-list_icon')
            a.menu-list_text(href='#') О НАС
        .menu-list_item
            +icon('nArrow','menu-list_icon')
            a.menu-list_text(href='#') НАПРАВЛЕНИЯ ЗАНЯТИЙ
        .menu-list_item
            +icon('nArrow','menu-list_icon')
            a.menu-list_text(href='#') РАСПИСАНИЕ
        .menu-list_item
            +icon('nArrow','menu-list_icon')
            a.menu-list_text(href='#') ФОТО
        .menu-list_item
            +icon('nArrow','menu-list_icon')
            a.menu-list_text(href='#') ПРЕПОДАВАТЕЛИ
        .menu-list_item
            +icon('nArrow','menu-list_icon')
            a.menu-list_text(href='#') НОВОСТИ
        .menu-list_item
            +icon('nArrow','menu-list_icon')
            a.menu-list_text(href='#') ЦЕНЫ
        .menu-list_item
            +icon('nArrow','menu-list_icon')
            a.menu-list_text(href='#') КОНТАКТЫ
        