footer.footer
    .footer-right
        p.footer-right_text
            |Танцевальная школа
            |DancePeople Магнитогорск
    .footer-left
        a(href="main-block.html")
            +icon('inst','footer-block_social')
        a(href="main-block.html")
            +icon('vk','footer-block_social')
        a(href="main-block.html")
            +icon('tlgrm','footer-block_social')
        a(href="main-block.html")
            +icon('viber','footer-block_social')
	
