footer.footer
	.footer__container
		.footer__text
			| Танцевальная школа
			br
			| DancePeople Магнитогорск
		.social
			a(href="main-block.html")
				+icon('inst','header-block_social')
			a(href="main-block.html")
				+icon('vk','header-block_social')
			a(href="main-block.html")
				+icon('tlgrm','header-block_social')
			a(href="main-block.html")
				+icon('viber','header-block_social')

