.header-block
    .header-block_green
        img.header-block_green__logo(src="assets/images/headerlogo.png", alt="")
    .header-block_right
        .social
            a(href="main-block.html")
                +icon('inst','header-block_social')
            a(href="main-block.html")
                +icon('vk','header-block_social')
            a(href="main-block.html")
                +icon('tlgrm','header-block_social')
            a(href="main-block.html")
                +icon('viber','header-block_social')
        .header-block_right__menu
            .header-block_burger
                img(src="assets/images/burger.png", alt="")