head
	meta(charset="utf-8")
	link(rel="shortcut icon" href="assets/images/favicons/favicon.ico")
	title DancePeople
	link(rel="stylesheet" type='text/css' href="assets/css/main.css")
	link( rel="stylesheet" type="text/css" href="slick/slick.css")
