@import "utils/*.scss";
@import "vendors/vendors.scss";
@import "components/*.scss";

body {
    font-family: $FiraSans;
    min-width: 1300px;
    background-color: #171919;
    position: relative;
}

body * {
    box-sizing: border-box;
	outline: none;
	font-family: $FiraSans;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ol {
    counter-reset: item;
    padding: 0;
    li {
        counter-reset: subsection;
        display: block;
        line-height: normal;
        font-size: 16px;
        margin-bottom: 30px;
        ol {
            margin-top: 30px;
        }
        &::before {
            content: counters(item, ".") ". ";
            counter-increment: item;
            font-weight: 600;
            margin-right: 5px;
        }
    }
}

p {
    line-height: normal;
    font-size: 16px;
    margin-bottom: 0px;
}

input,
textarea {
    outline: none;
}

h2 {
    font-size: 28px;
    line-height: 28px;
    margin: 40px 0 26px;
    color: #383838;
    font-weight: 700;
}

h2:not(class) {
    @include sm {
        width: 100%;
        text-align: center;
    }
}

.header-icon{
    width: 21px;
    height: 42px;
}

html{
    width: 100%;
    min-width: 1300px;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 7px; /* ширина для вертикального скролла */
    height: 8px; /* высота для горизонтального скролла */
    background-color: black;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: #77C585;
    border-radius: 9em;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #77C585;
    opacity: 0.8;
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement {
    background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
    linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background:
        linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background:
        linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background:
        linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}