.achivments-block{
    width: 100%;
    position: relative;
    &__header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &_name{
        display: flex;
        justify-content: space-between;
        margin-top: 124px;
        margin-left: 105px;
    }
    &_arrow{
        width: 24px;
        height: 20px;
        fill: white;
        top: -3px;
        position: relative;
        right: -5px;
    }
}
.achivments_bgtext{
    font-weight: 800;
    font-size: 80px;
    line-height: 156px;
    color: #ffffff;
    left: 223px;
    top: 66px;
    position: relative;
    z-index: 1;
        &::after{
            content:'';
            position: absolute;
            width: 80px;
            height: 2px;
            background-color: #77C585;
            left: 0px;
            top: 30px;
    }
        &::before{
            content: 'НАГРАДЫ';
            position: absolute;
            font-size: 200px;
            line-height: 156px;
            color:#ffffff;
            opacity: 0.02;
            z-index: 0;
            font-weight: 800;
            left: -190px;
            top: 68px;
        }
}


.achivments-block_button{
    width: 331px;
    height: 80px;
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    position: relative;
    z-index: 1;
    top: 90px;
    right: -9px;
    &::before{
        position: absolute;
        content: "";
        background-color:  #77C585;
        width: 201px;
        height: 80px;
        z-index: -1;
        right: 4px;
        top: -19px;
    }
}
.achivments-details_header{
   font-weight: 800;
   font-size: 40px;
   line-height: 40px;
   color: #ffffff;
   width: 250px;
   height: 80px;
   padding-top: 21px;
}

.achivments-details_text{
    width: 220px;
    height: 96px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #ffffff;
    opacity: 0.5;
    padding-top: 38px;
}

.achivments-block_name__details:nth-child(1){
    padding-left: 117px;
}

.achivmetnts-block_container{
    width: 1212px;
    display: flex;
    flex-direction: column;
}