.allnews-block{
    padding-left: 150px;
    &_header{
        font-style: normal;
        font-weight: 800;
        font-size: 80px;
        line-height: 86px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}