.aside-block{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 168px;
    justify-content: center;
    align-items: center;
    z-index: 1;
    left: 0;
    justify-content: space-between;
    top: 177px;
    padding-top: 42px;
    border-right: 1px solid rgba(255,255,255,.25);
    height: calc(100% - 177px);
    &_direction{
        width: 108px;
        height: 134px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        // margin-bottom: 15px;
        &__img{
            user-select: none;
            filter: grayscale(1);
            transition: all .3s;
        }
        &__text{
            padding-top: 5px;
            text-align: center;
            color: #fff;
            font-weight: 300;
            font-size: 16px;
            transition: all .3s;
            border-bottom: 1px solid transparent;
        }
        &:hover {
            .aside-block_direction__img {
                filter: grayscale(0);
            }
            .aside-block_direction__text {
                color: #77C585;
                border-color: #77C585;
            }
        }
    }
    &_arrow{
        width: 25px;
        height: 20px;
        fill: white;
    }
    &_submit{
        display: flex;
        width: 273px;
        height: 101px;
        background-color: #77C585;
        justify-content: flex-end;
        align-items: center;
        font-size: 36px;
        padding-right: 27px;
        color: white;
        font-weight: 800;
        line-height: 40px;
        margin-top: 50px;
    }
}

.submit-btn{
    width: 24px;
    height: 20px;
    fill: white;
}