.menu{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    align-items: center;
    justify-content: flex;
    background-color: #000000;
    transition: 0.5s;
    transform: translateX(-100%);
    z-index: 99999;
    width: 100%;
    &_active{
        transform: translateX(0%);
    }
    .header-block_icon {
       display: none;
    }
    .header-block {
        position: static;
        margin-bottom: 110px;
        @media(max-width: 1400px) {
            margin-bottom: 50px;
        }
    }
    .header-block_left {
        display: flex;
        align-items: center;
        margin-left: 150px;
    }
    &-list{
        display: flex;
        justify-content: space-around;
        margin-left: 150px;
        flex-direction: column;
        @media(max-width: 1400px) {
			max-height: calc(100% - 190px);
			overflow: auto;
        }
        &_item{
            margin-bottom: 42px;
            display: flex;
            align-items: center;
            @media(max-width: 1400px) {
                margin-bottom: 15px;
            }
            &:last-child {
                margin-bottom: 0;
            }
            &:hover{
                .menu-list_text{
                color:  #77C585;
                }
                .menu-list_icon{
                    fill: #77C585;
                }
            }
        }
        &_text{
            color: white;
            font-size: 40px;
            line-height: 40px;
            text-decoration: none;
            font-weight: 800;
            text-align: left;
            margin-left: 24px;
            @media(max-width: 1400px) {
                font-size: 18px;
                line-height: normal;
            }
            @media(min-width: 591px) {
                font-size: 46px;
                line-height: normal;
        }
    }
        &_icon{
           width: 32px;
           height: 27px;
           fill: white;
           @media(max-width: 1400px) {
               width: 22px;
           }
        }
    }
}