.feedback-block_slider button{
    font-size: 0;
    width: 100px;
    height: 4px;
    background-color: #ffffff;
    border: none;
    margin-right: 24px;
}

.feedback-block_nav__info{
    margin-left: 35px;
    width: 369px;
    height: 223px;
    background-color: #0F1010;
    margin-top: 134px;
    border-radius: 6px;
}
.feedback-block_nav__name{
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding-top: 24px;
    padding-bottom: 13px;
    padding-left: 32px;
}
.feedback-block_nav__dance{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-top: 8px;
    padding-bottom: 10px;
    padding-left: 32px;
}
.feedback-block_nav__text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #FFFFFF;
    width: 252px;
    padding-left: 32px;
}
.feedback-grayLine{
    padding-left: 32px;
}


.feedback-block{
    margin-top: 57px;
    position: relative;
}

.feedback-block_container{
    width: 1240px;
  //  margin-left: 84px;
}

.feedback-block_slider__info{
 // margin-right: 37px;
}

.feedback-block_slider__nextArrow{
    position: absolute;
    width: 24px;
    height: 20px;
    background: url(../images/nArrow.svg);
    background-repeat: no-repeat;
    bottom: -65px;
    left: 690px;
    z-index: 1;
    cursor: pointer;
}

.feedback-block_slider__prevArrow{
    position: absolute;
    width: 24px;
    height: 20px;
    background: url(../images/nArrow.svg);
    background-repeat: no-repeat;
    transform: rotate(180deg);
    bottom: -65px;
    left: 644px;
    z-index: 1;  
    cursor: pointer;
}

.feedback-block_slider .slick-dots{
    display: flex !important;
    position: relative;
    padding-left: 262px;
    top: 59px;
}
.feedback-block_slider .slick-active button{
    background-color: #77C585;
}