.form-block{
    display: flex;
    justify-content: space-between;
    &_left{
        display: flex;
        flex-direction: column;
        margin-left: 226px;
        &__header{
            font-weight: 800;
            font-size: 80px;
            line-height: 156px;
            color: #ffffff;
        }
        &__text{
            font-weight: 400;
            font-size: 22px;
            line-height: 32px;
            letter-spacing: 7.33px;
            color: #fff;
            opacity: 0.5;
            text-transform: uppercase;
            margin-top: -20px;
        }
    }
    &_button{
        width: 296px;
    height: 80px;
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    position: relative;
    z-index: 1;
    margin-top: 61px;
    margin-left: 170px;
        &::before{
            position: absolute;
    content: "";
    background-color:  #77C585;
    width: 201px;
    height: 80px;
    z-index: -1;
    right: 15px;
    top: -19px;
        }
    }
    &_right{

    }
}
.selectric{
    width: 450px;
    height: 54px;
    border-radius: 10px;
    background: #171919;
    margin-top: 38px;
}
.selectric .button{
    background: url("../images/selecticArrow.svg") no-repeat center;
    height: 54px;
    background-size: 20px 20px;
    margin-right: 14px;
}


.selectric .button::after{
    display: none;
}

.selectric .label{
    height: 54px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.78px;
    color: #fff;
    padding-left: 14px;
    padding-top: 13px;
}

.radio{
    position: relative;
    display: flex;
}

.radio input{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 0;
    top: 0;
    z-index: 1;
}
.form-block_radio{
    margin-top: 43px;
    display: flex;
    justify-content: space-between;
}

.radio_custom{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    opacity: 0.5;
    border: 2px solid #FFFFFF;
    background-color: transparent;
    &__img1{
        position: absolute;
        left: 15px;
        top: 11px;
        fill: #ffffff;
        stroke: #ffffff;
    }
    &__img2{
        position: absolute;
        left: 13px;
        top: 12px;
    }
}
.radio input:checked ~ .radio_custom{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border-color: #77C585;
}

.radio input:checked ~ .form-block_checkbox__text{
    color: #77C585;
}

.form-block_checkbox__text{
    font-size: 22px;
    line-height: 32px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 7.33px;
    color: #fff;
    opacity: 0.5;
    padding-top: 7px;
    padding-left: 24px;
}


.selectric-wrapper .selectric-select{
    padding-top: 3px;
    padding-bottom: 4px;
}

.form-submit_arrow{
    width: 24px;
    height: 20px;
    fill: #ffffff;
    right: -9px;
    position: relative;
}