.slider-dance_children__nextArrow{
    position: absolute;
    width: 24px;
    height: 20px;
    background: url("../images/nArrow.svg");
    background-repeat: no-repeat;
    top: 128px;
    z-index: 1;
    right: 335px;
    cursor: pointer;
}
.slider-dance_children__prevArrow{
    position: absolute;
    width: 24px;
    height: 20px;
    background: url("../images/nArrow.svg");
    background-repeat: no-repeat;
    transform: rotate(180deg);
    top: 128px;
    z-index: 1;
    right: 381px;
    cursor: pointer;
}
.slider-dance_children{
    position: relative;
    margin-top: 147px;
    background-color: #171918;
    width: 100%;
    margin: 0 auto;
}
.children_block__slide{
    position: relative;;
}

.children_block__slide___text{
    position: absolute;
    margin-right: 17px;
    right: -14px;
    bottom: 215px;
    display: flex;
    flex-direction: column;
}
.children_block__header {
    font-weight: 800;
    font-size: 80px;
    line-height: 106px;
    color: #ffffff;
}
.children_block__info{
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 7.3px;
    color: #ffffff;
    opacity: 0.5;
    position: relative;
    top: 23px;
    right: -104px;
}
.children_block__link{
    text-decoration: none;
    color: #77C585;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
}
.children-block_arrow{
    fill: #77c585;
    width: 24px;
    height: 20px;
    position: relative;
    top: 6px;
    right: -10px;
}
.children_block__info::after{
    content: '';
    width: 80px;
    height: 2px;
    background-color: gray;
}
.children_block__container{
    position: relative;
    top: 54px;
}
.children-grayLine{
    width: 80px;
    height: 1px;
    position: relative;
    top: 39px;
}
.slider-dance_children__container{
    width: 1297px;
}

@media(max-width:1500px){
    .children_block__slide___text{
        right: 25px;
    }
    .slider-dance_children__prevArrow{
        right: 414px;
    }
    .slider-dance_children__nextArrow{
        right: 358px;
    }
    .children_block__info {
        right: -100px;
    }
}