extends ./../layouts/inner
block content
    main.main-contacts
        section.application-block_contacts
            .application-block_container
                .application-block_right
                    h1.application-block_right__header
                        |КОНТАКТЫ
                    p.contacts-block_right__text
                        |г. Магнитогорск, ул. Галиуллина 24/4
                    .contacts-block_info
                        .contacts-block_mInfo
                            img(src="assets/images/contactPhone.png", alt="")
                            p.contacts-block_telephone
                                |+7 (999) 999-99-99
                        .contacts-block_mInfo
                            img(src="assets/images/contactEmail.png", alt="")
                            p.contacts-block_email
                                |info@dp74.ru
                    .contacts-block_dialog
                        |Давайте общаться! Мы с удовольствием </br>
                        | ответим на ваши вопросы и предложения. 
                    .application-block_right__form
                        input.application-input(type="text" placeholder="Имя")
                        select.select
                            option(disabled selected) Детские направления
                            option sdjhfjksdf
                            option difhjlc
                        select.select
                            option(disabled selected) Направление занятий
                            option sdjhfjksdf
                            option difhjlc
                        input.application-input(type="text" placeholder="Телефон")
                    a.application-block_button(href="#") ОТПРАВИТЬ
                        +icon('nArrow' , 'application-block_arrow')