block content
	main.main
		h1(style="text-align: center; font-size: 36px;") Список страниц
			ul(style="text-align: center; padding-top: 20px; font-size: 26px;")
				li(style="margin-bottom: 10px;")
					a(href="main-block.html") Главная