extends ./../layouts/main
block content
	style(type="text/css").
		.header-block_right__menu {display: none;}
	main.main.presentation-page
		h1(style="text-align: center; font-size: 36px;") Список страниц
			ul(style="text-align: center; padding-top: 20px; font-size: 26px;")
				li(style="margin-bottom: 10px;")
					a(href="main-block.html") Главная </br>
					a(href="timetable.html") Расписание </br>
					a(href="contacts.html") Контакты </br> 
					a(href="news.html") Новости </br> 
					a(href="popup.html") Поп ап </br>
					a(href="personalPolicy.html") Персональные данные </br>
					a(href="thanks.html") Спасибо </br>
					a(href="price.html") Цены </br>