extends ./../layouts/main
block content
    main.main
        section.slider-top_block
            .slider-top
                each _ in Array(4)
                    .slider-top_content
                        .slider-top_content__text
                            h1.slider-top_header Lorem ipsum <br/>
                                                |avent dolor
                            img.grayLine(src="assets/images/grayLine.png", alt="")
                            p.slider-top_direction Направление
                            p.slider-top_text LOREM IPSUM
                            .slider-top_nextArrow
                        img.slider-top_content__images(src="assets/images/Background.jpg")
            .slider-top_nav
                .slider-top_nav__block
                    .slider-top_nav__info
                        p.slider-top_nav__number
                            |01
                        p.slider-top_nav__text
                            |Lorem ipsum dolor
                            |sit amet
                .slider-top_nav__block
                    .slider-top_nav__info
                        p.slider-top_nav__number
                            |02
                        p.slider-top_nav__text
                            |Lorem ipsum dolor
                            |sit amet
                .slider-top_nav__block
                    .slider-top_nav__info
                        p.slider-top_nav__number
                            |03
                        p.slider-top_nav__text
                            |Lorem ipsum dolor
                            |sit amet
                .slider-top_nav__block
                    .slider-top_nav__info
                        p.slider-top_nav__number
                            |04
                        p.slider-top_nav__text
                            |Lorem ipsum dolor
                            |sit amet
            .submit-text
                |ОСТАВИТЬ
                <br/>
                |ЗАЯВКУ
                +icon('nArrow' , 'submit_arrow')
            //- .aside-block
            //-     a.aside-block_direction(href="#")
            //-         img.aside-block_direction__img(src="assets/images/children.png", alt="")
            //-         p.aside-block_direction__text ДЕТИ
            //-     a.aside-block_direction(href="#")
            //-         img.aside-block_direction__img(src="assets/images/youngman.png", alt="")
            //-         p.aside-block_direction__text ПОДРОСТКИ
            //-     a.aside-block_direction(href="#")
            //-         img.aside-block_direction__img(src="assets/images/woman.png", alt="")
            //-         p.aside-block_direction__text ДЕВУШКИ
            //-     a.aside-block_direction(href="#")
            //-         img.aside-block_direction__img(src="assets/images/adults.png", alt="")
            //-         p.aside-block_direction__text ВЗРОСЛЫЕ
            //-     a.aside-block_submit(href="#")
            //-          .aside-block_submit__text
            //-             |Оставить
            //-             <br/>
            //-             | заявку
            //-             +icon('nArrow' , 'aside-block_arrow')
        .about-us
            .about-us_container
                .about-us_header
                    span.about-us_bgtext О НАС
                .about-us_block
                    .info-block
                        .info-block_header LOREM IPSUM </br>
                                            |AVENT DOLOR
                        .info-block_text LOREM IPSUM DOLOR SIT
                                            |amet, consectetur
                                            |adipiscing elit.
                                            |Sed ut purus tellus
                    .info-block
                        .info-block_header LOREM IPSUM </br>
                                            |AVENT DOLOR
                        .info-block_text Lorem ipsum dolor sit
                                            |amet, consectetur
                                            |adipiscing elit.
                                            |Sed ut purus tellus
                    .info-block
                        .info-block_header LOREM IPSUM </br>
                                            |AVENT DOLOR
                        .info-block_text Lorem ipsum dolor sit
                                            |amet, consectetur
                                            |adipiscing elit.
                                            |Sed ut purus tellus
                .about-block__button
                    a.about-us_button(href="#") ЗАПИСАТЬСЯ
                        +icon('nArrow' , 'info-submit_arrow')
            .about-block_rightText
                span.about-block_rightText__item 52.2300 N 59.0200 W
                span.about-block_rightText__item DANCE PEOPLE MGN
        section.slider-dance_children
            .slider-dance_children__container
                .slider-dance_children_block
                    each _ in Array(4)
                        .children_block__slide
                            img(src="assets/images/DancePeople.png", alt="")
                            .children_block__slide___text
                                h1.children_block__header
                                    |ТАНЦЫ </br>
                                    | ДЛЯ ДЕТЕЙ
                                img.children-grayLine(src="assets/images/grayLine.png", alt="")
                                p.children_block__info
                                    |БОЛЕЕ </br> 20 НАПРАВЛЕНИЙ
                                .children_block__container
                                    a.children_block__link(href="#") ПОКАЗАТЬ НАПРАВЛЕНИЯ
                                        +icon('nArrow' , 'children-block_arrow')
                            .slider-dance_children__nextArrow
                            .slider-dance_children__prevArrow
        section.form-block
            .form-block_container
                .form-block_left
                    h1.form-block_left__header
                        span.about-us_bgtext|АНКЕТА
                    p.form-block_left__text
                        |ЗАПОЛНИТЕ ПОЛЯ АНКЕТЫ
                        |И ПОДБЕРЕМ ДЛЯ ВАС ПОДХОДЯЩИЕ
                        |НАПРАВЛЕНИЯ
                    select.select
                        option(disabled selected) Возраст
                        option 2
                        option 3
                        option 4
                    .form-block_radio
                        .radio
                            input(type="radio" name="sex")
                            .radio_custom
                                img.radio_custom__img1(src="assets/images/Female.svg", alt="")
                            label.form-block_checkbox__text(for="") ЖЕНЩИНА
                        .radio
                            input(type="radio" name="sex")
                            .radio_custom
                                img.radio_custom__img2(src="assets/images/Male.svg", alt="")
                            label.form-block_checkbox__text(for="") МУЖЧИНА
                    select.select
                        option(disabled selected) Филиал студии Dance People
                        option арпапр
                        option вара
                        option ыпалрол
                    select.select
                        option(disabled selected) Уровень подготовки
                        option 5
                        option 6
                        option 7
                    a.form-block_button(href="#") ПОДОБРАТЬ
                        +icon('nArrow' , 'form-submit_arrow')
                .form-block_right
                    img.form-block_right__img(src="assets/images/board.png", alt="")
        section.achivments-block
            .achivmetnts-block_container
                .achivments-block__header
                    span.achivments_bgtext|НАГРАДЫ
                    a.achivments-block_button(href="#") СМОТРЕТЬ ВСЕ
                        +icon('nArrow' , 'achivments-block_arrow')
                .achivments-block_name
                    .achivments-block_name__details
                        img(src="assets/images/star1.png", alt="")
                        .achivments-details_header
                            |LOREM IPSUM AVENT
                        .achivments-details_text
                            |Lorem ipsum dolor sit
                            |amet, consectetur
                            |adipiscing elit.
                            |Sed ut purus tellus
                    .achivments-block_name__details
                        img(src="assets/images/star2.png", alt="")
                        .achivments-details_header
                            |Lorem ipsum avent
                        .achivments-details_text
                            |Lorem ipsum dolor sit
                            |amet, consectetur
                            |adipiscing elit.
                            |Sed ut purus tellus
                    .achivments-block_name__details
                        img(src="assets/images/star3.png", alt="")
                        .achivments-details_header
                            |Lorem ipsum avent
                        .achivments-details_text
                            |Lorem ipsum dolor sit
                            |amet, consectetur
                            |adipiscing elit.
                            |Sed ut purus tellus
        section.feedback-block
            .feedback-block_container
                .feedback-block_slider
                    each _ in Array(9)
                        .feedback-block_slider__info
                            .feedback-block_nav__info
                                p.feedback-block_nav__name
                                    |ИРИНА ИВАНОВА
                                img.feedback-grayLine(src="assets/images/grayLine.png", alt="")
                                P.feedback-block_nav__dance
                                    |Занимается сальсой
                                p.feedback-block_nav__text
                                    |Lorem ipsum dolor sit
                                    |amet, consectetur
                                    |adipiscing elit.
                                    |Sed ut purus tellus
                .feedback-block_slider__prevArrow
                .feedback-block_slider__nextArrow
        section.photogalery-block
            .photogalery-block_container
                .slider-photogalery
                    each _ in Array(4)
                        .photogalery-block__slide
                            img(src="assets/images/photogalery.png", alt="")
                .photogalery-block__slide___text
                    h1.photogalery-block__header
                        | ФОТО </br>
                        | ГАЛЕРЕЯ
                    a.photogalery-block_button(href="#") СМОТРЕТЬ ВСЕ
                        +icon('nArrow' , 'achivments-block_arrow')
                .photogalery-block__nextArrow
                .photogalery-block__prevArrow
        section.application-block
            .application-block_container
                .application-block_right
                    h1.application-block_right__header
                        |ОСТАВИТЬ </br>
                        |ЗАЯВКУ
                    p.application-block_right__text
                        |Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    .application-block_right__form
                        input.application-input(type="text" placeholder="Имя")
                        select.select
                            option(disabled selected) Детские направления
                            option sdjhfjksdf
                            option difhjlc
                        select.select
                            option(disabled selected) Направление занятий
                            option sdjhfjksdf
                            option difhjlc
                        input.application-input(type="text" placeholder="Телефон")
                        a.application-block_button(href="#") ОТПРАВИТЬ
                            +icon('nArrow' , 'application-block_arrow')
                .application-block_left
                    img.application-block_left__img1(src="assets/images/snapback.png", alt="")