extends ./../layouts/main
block content
    main.main
        section.slider-top_block
            .slider-top
                each _ in Array(4)
                    .slider-top_content
                        .slider-top_content__text
                            h1.slider-top_header Lorem ipsum <br/>
                                                |avent dolor
                            img.grayLine(src="assets/images/grayLine.png", alt="")
                            p.slider-top_direction Направление
                            p.slider-top_text LOREM IPSUM
                            .slider-top_nextArrow
                        img.slider-top_content__images(src="assets/images/Background.jpg")
            .slider-top_nav
                .slider-top_nav__block
                    .slider-top_nav__info
                        p.slider-top_nav__number
                            |01
                        p.slider-top_nav__text
                            |Lorem ipsum dolor
                            |sit amet
                .slider-top_nav__block
                    .slider-top_nav__info
                        p.slider-top_nav__number
                            |02
                        p.slider-top_nav__text
                            |Lorem ipsum dolor
                            |sit amet
                .slider-top_nav__block
                    .slider-top_nav__info
                        p.slider-top_nav__number
                            |03
                        p.slider-top_nav__text
                            |Lorem ipsum dolor
                            |sit amet
                .slider-top_nav__block
                    .slider-top_nav__info
                        p.slider-top_nav__number
                            |04
                        p.slider-top_nav__text
                            |Lorem ipsum dolor
                            |sit amet
            .submit-text
                |ОСТАВИТЬ
                <br/>
                |ЗАЯВКУ
                +icon('nArrow' , 'submit_arrow')
            //- .aside-block
            //-     a.aside-block_direction(href="#")
            //-         img.aside-block_direction__img(src="assets/images/children.png", alt="")
            //-         p.aside-block_direction__text ДЕТИ
            //-     a.aside-block_direction(href="#")
            //-         img.aside-block_direction__img(src="assets/images/youngman.png", alt="")
            //-         p.aside-block_direction__text ПОДРОСТКИ
            //-     a.aside-block_direction(href="#")
            //-         img.aside-block_direction__img(src="assets/images/woman.png", alt="")
            //-         p.aside-block_direction__text ДЕВУШКИ
            //-     a.aside-block_direction(href="#")
            //-         img.aside-block_direction__img(src="assets/images/adults.png", alt="")
            //-         p.aside-block_direction__text ВЗРОСЛЫЕ
            //-     a.aside-block_submit(href="#")
            //-          .aside-block_submit__text
            //-             |Оставить
            //-             <br/>
            //-             | заявку
            //-             +icon('nArrow' , 'aside-block_arrow')
        .about-us
            .about-us_header
                span.about-us_bgtext О НАС
            .about-us_block
                .info-block
                    .info-block_header Lorem ipsum </br>
                                        |avent dolor
                    .info-block_text Lorem ipsum dolor sit
                                        |amet, consectetur
                                        |adipiscing elit.
                                        |Sed ut purus tellus
                .info-block
                    .info-block_header Lorem ipsum </br>
                                        |avent dolor
                    .info-block_text Lorem ipsum dolor sit
                                        |amet, consectetur
                                        |adipiscing elit.
                                        |Sed ut purus tellus
                .info-block
                    .info-block_header Lorem ipsum </br>
                                        |avent dolor
                    .info-block_text Lorem ipsum dolor sit
                                        |amet, consectetur
                                        |adipiscing elit.
                                        |Sed ut purus tellus
            .about-block__button
                a.about-us_button(href="#") ЗАПИСАТЬСЯ
                    +icon('nArrow' , 'submit_arrow')
        section.slider-dance_children
            .slider-dance_children_block
                each _ in Array(4)
                    .children_block__slide
                        img(src="assets/images/DancePeople.png", alt="")
                        .children_block__slide___text
                            h1.children_block__header
                                |ТАНЦЫ </br>
                                | ДЛЯ ДЕТЕЙ
                            p.children_block__info
                                |БОЛЕЕ </br> 20 НАПРАВЛЕНИЙ
                            .children_block__container
                                a.children_block__link(href="#") ПОКАЗАТЬ НАПРАВЛЕНИЯ
                                    +icon('nArrow' , 'children-block_arrow')
                        .slider-dance_children__nextArrow
                        .slider-dance_children__prevArrow
        section.form-block
            .form-block_left
                h1.form-block_left__header
                    span.about-us_bgtext|АНКЕТА
                p.form-block_left__text
                    |ЗАПОЛНИТЕ ПОЛЯ АНКЕТЫ
                    |И ПОДБЕРЕМ ДЛЯ ВАС ПОДХОДЯЩИЕ
                    |НАПРАВЛЕНИЯ
                select.select
                    option(disabled selected) Возраст
                    option
                    option 2
                    option 3
                    option 4
                .form-block_radio
                    .radio
                        input(type="radio" name="sex")
                        label.form-block_checkbox__text(for="") Женщина
                        .radio_custom
                            img.radio_custom__img1(src="assets/images/Female.svg", alt="")
                    .radio
                        input(type="radio" name="sex")
                        label.form-block_checkbox__text(for="") Мужчина
                        .radio_custom
                            img.radio_custom__img2(src="assets/images/Male.svg", alt="")
                select.select
                    option(disabled selected) Филиал студии Dance People
                    option
                    option арпапр
                    option вара
                    option ыпалрол
                select.select
                    option(disabled selected) Уровень подготовки
                    option
                    option 5
                    option 6
                    option 7
                a.form-block_button(href="#") ПОДОБРАТЬ
                    +icon('nArrow' , 'submit_arrow')
            .form-block_right
                img.form-block_right__img(src="assets/images/board.png", alt="")
        section.achivments-block
            .achivments-block__header
                span.achivments_bgtext|НАГРАДЫ
                a.achivments-block_button(href="#") СМОТРЕТЬ ВСЕ
                    +icon('nArrow' , 'achivments-block_arrow')
            .achivments-block_name
                .achivments-block_name__details
                    img(src="assets/images/star1.png", alt="")
                    .achivments-details_header
                        |Lorem ipsum avent
                    .achivments-details_text
                        |Lorem ipsum dolor sit
                        |amet, consectetur
                        |adipiscing elit.
                        |Sed ut purus tellus
                .achivments-block_name__details
                    img(src="assets/images/star2.png", alt="")
                    .achivments-details_header
                        |Lorem ipsum avent
                    .achivments-details_text
                        |Lorem ipsum dolor sit
                        |amet, consectetur
                        |adipiscing elit.
                        |Sed ut purus tellus
                .achivments-block_name__details
                    img(src="assets/images/star3.png", alt="")
                    .achivments-details_header
                        |Lorem ipsum avent
                    .achivments-details_text
                        |Lorem ipsum dolor sit
                        |amet, consectetur
                        |adipiscing elit.
                        |Sed ut purus tellus
        section.feedback-block

            .feedback-block_slider
                 each _ in Array(4)
                    .feedback-block_slider__info
                        .feedback-block_nav__info
                            p.feedback-block_nav__name
                                |ИРИНА ИВАНОВА
                            P.feedback-block_nav__dance
                                |Занимается сальсой
                            p.feedback-block_nav__text
                                |Lorem ipsum dolor sit
                                |amet, consectetur
                                |adipiscing elit.
                                |Sed ut purus tellus
        section.photogalery-block
            .slider-photogalery
                each _ in Array(4)
                    .photogalery-block__slide
                        img(src="assets/images/photogalery.png", alt="")
                        .photogalery-block__slide___text
                            h1.photogalery-block__header
                                | ФОТО </br>
                                | ГАЛЕРЕЯ
                            .photogalery-block__container
                                a.achivments-block_button(href="#") СМОТРЕТЬ ВСЕ
                                    +icon('nArrow' , 'achivments-block_arrow')
                        .photogalery-block__nextArrow
                        .photogalery-block__prevArrow
        section.application-block
            .application-block_right
                h1.application-block_right__header
                p.application-block_right__text
                .application-block_right__form
                    input.application-input(type="text" placeholder="Имя")
                    select.select
                        option(disabled selected) Детские направления
                        option sdjhfjksdf
                        option difhjlc
                    select.select
                        option(disabled selected) Направление занятий
                        option sdjhfjksdf
                        option difhjlc
                    input.application-input(type="text" placeholder="Телефон")
                    a.application-block_button(href="#") ОТПРАВИТЬ
                        +icon('nArrow' , 'submit_arrow')
            .application-block_left
                .application-block_left__img
                    img(src="assets/images/snapback.png", alt="")
                    img(src="assets/images/applicationBackground.png", alt="")