extends ./../layouts/inner
block content
    main.main-news
        section.news-header
            .news-header_container
                h1.news-header
                    |Lorem ipsum </br>
                    |avent dolor
                p.news-header_text
                    |уличный танец, сформировавшийся </br>
                    |в Нью- Йорке в 60-х годах XX века   
        section.news-description
            .news-description_info
                .news-description_info__text
                    p.news-description_part1
                        |Lorem ipsum dolor sit amet, consectetur </br>
                        | adipiscing elit. Etiam quis est nec libero efficitur </br>
                        | lobortis. Praesent quis augue magna. Orci varius </br>
                        | natoque penatibus et magnis dis parturient </br>
                        | montes, nascetur ridiculus mus. Fusce imperdiet </br>
                        | commodo rutrum
                    p.news-description_part2
                        |Cras porta lacinia dui, at dictum metus. Duis in </br>
                        | elit volutpat, porttitor magna accumsan, venenatis </br>
                        | tellus. Curabitur elementum lectus sit amet diam </br>
                        | fermentum vulputate sit amet ac tellus. Nulla </br>
                        | fringilla pulvinar ipsum a facilisis
                .news-description_info__img
                    img(src="assets/images/newsInfo.jpg", alt="")
            .news-desription_video
                <iframe width="500" height="281" src="https://www.youtube.com/embed/G1IbRujko-A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe width="500" height="281" src="https://www.youtube.com/embed/G1IbRujko-A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>