extends ./../layouts/inner
block content
    .policy-block
        h1.policy-block_header
            |политика обработки
            |персональных данных
        .policy-block_info
            .policy-block_info__text
                |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec finibus libero magna, at faucibus nunc</br>
                | condimentum vel. Phasellus semper tortor id ligula aliquet, eget suscipit risus semper. Morbi vel</br>
                | viverra nisl. Etiam sollicitudin lorem libero, et scelerisque augue posuere vel. Pellentesque fringilla</br>
                | libero sit amet lacus cursus, id sagittis est aliquet. Ut non quam est. Proin sollicitudin vehicula est,</br>
                | id commodo ipsum. Fusce pellentesque quam non quam blandit congue.</br>
            .policy-block_info__text
                |Praesent non purus luctus, pellentesque nisi vestibulum, aliquam justo. Donec nec nibh fringilla,</br>
                | mattis enim at, vestibulum lacus. Fusce fringilla, nisi a maximus efficitur, orci leo aliquam leo, a</br>
                | iaculis lacus felis tempus nibh. Cras porttitor dui eget lacinia condimentum. Donec in nibh a lectus </br>
                | sagittis sodales scelerisque non augue. Phasellus id nibh nibh. Sed ornare enim ut urna tristique </br>
                | dapibus. Aliquam eget elit laoreet, eleifend sem at, hendrerit ligula. Nullam enim lectus, vehicula sit </br>
                | amet elit eu, tincidunt fermentum lectus. Nunc suscipit mauris nec ex luctus convallis. Nam </br>
                |condimentum eu ipsum in accumsan. Duis vitae luctus felis. Maecenas placerat nunc ac tortor </br>
                | faucibus, semper lobortis nisl feugiat. Nulla auctor erat id ligula interdum viverra. Vestibulum ante </br>
                |ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Curabitur vitae massa enim.</br>
            .policy-block_info__text
                |Nam eu ipsum volutpat, egestas sem vel, molestie nibh. In vitae cursus quam. Nunc vel finibus ex. Ut </br>
                | enim ipsum, suscipit et dolor vel, facilisis posuere eros. Sed nec malesuada ligula, et consectetur</br>
                | nulla. Vestibulum ac nisi eget erat dictum vulputate. Ut mattis arcu vel est hendrerit venenatis.</br>
                | Aliquam leo tortor, rhoncus in dui ac, vehicula ultricies tellus. Nullam volutpat gravida laoreet.</br>
            .policy-block_info__text
                |Proin bibendum vestibulum tincidunt. In in vehicula enim, non sodales diam. Integer facilisis aliquet </br>
                | leo eu imperdiet. Nulla aliquet, nibh ut ullamcorper blandit, arcu sem dignissim nibh, a sollicitudin ex</br>
                | tellus non metus. Mauris nunc quam, tempus rutrum velit in, consequat sodales massa. Mauris et arcu</br>
                | a turpis dictum facilisis. Quisque eu gravida enim. Curabitur id aliquet nulla, in pellentesque risus.</br>
                | Nullam tortor erat, mollis sed nibh sit amet, molestie consectetur mauris. Curabitur blandit blandit</br>
                | pulvinar. Nam in maximus urna. Praesent ac lacus venenatis, rhoncus ante sed,</br>
                | iaculis urna. Nulla sed efficitur risus. Duis at nunc nec justo vestibulum faucibus.
            .policy-block_info__text
                |Donec eget tellus est. Duis congue interdum felis, at iaculis nisi mollis id. Donec vel nisl quis dui </br>
                | ultrices tempor. Aliquam sagittis enim leo. Donec gravida pretium elit id facilisis. Quisque pulvinar </br>
                | pellentesque sapien, eu finibus sem posuere non. Sed tempor egestas urna pharetra maximus. Sed nec </br>
                | mattis orci. Nullam vitae est nec justo vehicula viverra vel ac nunc. Nunc dictum eget quam non </br>
                | commodo. Aenean nec diam ornare, sollicitudin lacus id, fringilla quam. Maecenas odio magna,</br>
                | scelerisque sed placerat ut, tincidunt sed risus. Curabitur volutpat cursus vulputate. Nullam vitae </br>
                | egestas neque, et vulputate magna. Curabitur auctor magna quis sapien eleifend, eu faucibus tellus </br>
                |efficitur.
        .link-main_page
            a.policy-block_link(href="main-block.html") ВЕРНУТЬСЯ НА ГЛАВНУЮ
            +icon('nArrow' , 'policy-block_arrow')