extends ./../layouts/inner
block content
    .price-block
        .price-block_header
            |ПРАЙС-ЛИСТ
        .price-block_table
            .price-block_table__header
                .table-header_name
                    |Абонемент
                .table-header_name
                    |занятия
                .table-header_name
                    |срок действия
                .table-header_name    
                    |стоимость
            .price-block_table__body
                .table-body_group
                    .table-body_group__name
                        |ДЕТИ (МИНИ)
                    .table-body_group__info
                        |до 14 лет
                .table-body_lessons
                    |4
                .table-body_validity
                    |30 дней
                .table-body_price
                    |800 Р
            .price-block_table__body
                .table-body_group
                    .table-body_group__name
                        |СТАНДАРТ
                    .table-body_group__info
                        |до 14 лет
                .table-body_lessons
                    |8
                .table-body_validity
                    |30 дней
                .table-body_price
                    |1500 Р
            .price-block_table__body
                .table-body_group
                    .table-body_group__name
                        |СТАНДАРТ
                    .table-body_group__info
                        |для многодетных </br>
                        |семей
                .table-body_lessons
                    |8
                .table-body_validity
                    |30 дней
                .table-body_price
                    |1300 Р

