block variables
include ../mixins/mixins

doctype html
html(lang="ru-RU")
	include ./../partials/head
	body
		include ./../partials/page-line
		include ./../partials/header-inner

		//- ===== Content =====
		block content
		//- ===== Content End =====

		include ./../partials/footer
		include ./../partials/scripts
